.colum-target{ 
    margin-right: 20px; 
    height: auto;
    display: flex;
    border-radius: 20px;
    justify-content: center;
}

#proceso{
    background-color: #ed5f14fa;
}

#pendiente{
    background-color: #ede914fa;
}

#terminada{
    background-color: #1bed14fa;
}

h2{
    
    font-size: larger;
    font-family: inherit;
    margin-top: 10px;

}