.colum-target{ 
    padding: 0;
    background-color:rgb(148 175 175);
    margin-right: 20px; 
    height: 500px;
    border-radius: 20px;
    justify-content: center;
}

.header-task{
    background-color: bisque;
}

.body-task{
    height: 450px;
    overflow-y: scroll;
}

.colum-form{ 
    margin-right: 20px; 
    border-radius: 20px;
    justify-content: center;
}

#tareaPendiente{
    
}

#tareaEnProceso{
    
}

#tareaTerminada{
   
}

h2{
    font-size: larger;
    font-family: inherit;
    margin-top: 10px;
}

.alert-heading{
    margin: 10px;
    background-color: transparent;
}